[user]
    name = Levente Balogh
    email = balogh.levente.hu@gmail.com
	signingkey = /Users/leventebalogh/.ssh/git-signing

[alias]
    aliases = "! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ / | pygmentize -l properties"
    amend = commit --amend --reuse-message=HEAD # Amend the currently staged files to the latest commit
    br = branch
    branches-of = "!f() { git for-each-ref --format='%(committerdate) %09 %(authorname) %09 %(refname)' | sort -k5n -k2M -k3n -k4n | grep origin | grep -i $1; }; f" # Shows branches belonging with to a user (E.g. `$ git branches-of Levente`)
    changed-files = "!f() { if [ -z $1 ]; then branch=$(git current-branch); else branch=$1; fi; git diff --name-only $branch $(git merge-base $branch $(git main-branch)); }; f" # Shows which files were modified in the current branch
    changes = "!f() { git diff $(git main-branch) $(git current-branch) -- $1; }; f" # Shows differences of the current branch relative to the main branch
    cleanup = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d && git fetch --prune" # Remove branches that have already been merged with master and delete remote branches that are deleted on the remote
    co = checkout
    contributors = shortlog --summary --numbered # List contributors for the repo with number of commits
    current-branch = "!f() { git rev-parse --abbrev-ref HEAD; }; f"
    find-by-file = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short -S$1; }; f" # Find commits by source code
    find-by-message = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --grep=$1; }; f" # Find commits by commit message
    l = log --pretty=format:\"%C(yellow) %h %Creset %ad %C(magenta bold)%d%Creset %s %C(green)(%an)%Creset\" -n 100 --graph --abbrev-commit --decorate --date="short"
    lb = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 10 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}' # Lists your latest branches
    log-pretty = log --pretty=format:\"%C(yellow) %h %Creset %ad %C(magenta bold)%d%Creset %s %C(green)(%an)%Creset\"
    main = "!git main-branch | xargs git checkout" # Checks out the main branch of the repo
    main-branch = "!git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'" # Shows the main branch of the repo
    purge = "!f() { git reset --hard; git clean -df; }; f" # Cleans all changes and removes untracked files
    rba = rebase --abort
    rbc = rebase --continue
    rbm = "!git main-branch | xargs git rebase -i"
    st = status
    undo-merge = "reset --merge ORIG_HEAD" # Reverts the latest merge
    wip = "!f() { git add -A; git commit -nm 'Wip'; }; f" # Commits everything with the message 'Wip'
    wip-continue = "!f() { git reset HEAD^; }; f" # Removes the last commit and moves the changes to the staging area

[apply]

    # Detect whitespace errors when applying a patch
    whitespace = fix

[core]

    # Use custom `.gitignore` and `.gitattributes`
	excludesfile = /Users/leventebalogh/.gitignore
    attributesfile = ~/.gitattributes

    # Treat spaces before tabs and all kinds of trailing whitespace as an error
    # [default] trailing-space: looks for spaces at the end of a line
    # [default] space-before-tab: looks for spaces before tabs at the beginning of a line
    whitespace = space-before-tab,-indent-with-non-tab,trailing-space

    # Prevent showing files whose names contain non-ASCII symbols as unversioned.
    # http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
    precomposeunicode = false

    # Use Sublime as default editor
	editor = vim
    # ignorecase = false

[color]

    # Use colors in Git commands that are capable of colored output when
    # outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
    ui = auto

[color "branch"]

    current = yellow reverse
    local = yellow
    remote = green
    yellow = yellow bold
    orange = yellow

[color "diff"]

    meta = yellow bold
    frag = magenta bold # line info
    old = red # deletions
    new = green # additions

[color "status"]

    added = yellow
    changed = green
    untracked = cyan

[diff]

    # Detect copies as well as renames
    renames = copies

[diff "bin"]
    # Use `hexdump` to diff binary files
    textconv = hexdump -v -C

[help]

    # Automatically correct and execute mistyped commands
    autocorrect = 1

[merge]
	tool = code
    # Include summaries of merged commits in newly created merge commit messages
    log = true

[mergetool "diffmerge"]
    cmd = diffmerge --merge\n--result=$MERGED $LOCAL $BASE $REMOTE
    trustExitCode = true

[push]
    default = simple
    followTags = true

[credential]
    helper = osxkeychain

[url "git@github.com:"]
	insteadOf = https://github.com/
[commit]
	gpgsign = true
[gpg]
	format = ssh
