registry=https://registry.npmjs.org/
@casumo:registry=http://npm.casumotest.local
//npm.casumotest.local:4874/:_authToken="0VTgWqwIkleKoCL0XWmBL2uKLSbq/m00tnaWZtsnVAU="
//registry.npmjs.org/:_authToken=b842d553-2f25-4cc9-935f-66ac93a59746
//npm.casumotest.local/:_authToken="0VTgWqwIkleKoCL0XWmBL2uKLSbq/m00tnaWZtsnVAU="
